<Layouts.app flash={@flash}>
  <section class="panel txt-align-center center margin-block-double">
    <img
      src={~p"/images/campfire-icon.png"}
      width="128"
      height="141"
      class="center"
      alt="Campfire logo"
    />
    <h1 class="txt-x-large margin-block">Campfire</h1>
    <p class="txt-subtle">Chat is on its way.</p>
  </section>
</Layouts.app>
